.header {
  margin-top: 130px;
  margin-bottom: 60px;
  display: block;
  width: 100%;
  height: fit-content;
  /* background-color: rgb(88, 88, 239); */
  /* height: 300px; */
  /* background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),url('../../img/start-screen.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */
}

.block {
  background-color: white;
  height: 300px;
  width: 30px;
}

.mainHeading {
  margin: 0;
  margin-top: 30px;
  
  /* margin-left: 20px; */
  font-size: 52px;
  /* color: #fff; */
}

.pHeader {
  font-weight: 300;
    font-size: 25px;
    width: 85%;
}

.link {
  text-decoration: none;
  color: blue;
}
